
.intro {
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
  margin:0 100px;
  color: #909090;
  margin-bottom: 100px;
}

.intro h1 {
  font-size: 3.8em;
  color: #0050d1;
  opacity: 0.7;
  margin-bottom: 40px;
}

.title-row {
  margin: 0 auto;
  height: 100px;
  text-align: center;
  min-width: 800px;
  font-family: 'Fira Sans',
  sans-serif;
}

.row {
  margin: 200px auto;
  height: 200vh;
  text-align: center;
  min-width: 800px;
  font-family: 'Fira Sans', sans-serif;
}

.row div {
  height: 800px;
}

.row .title-div {
  height: 150px;
}

.pie-row {
  margin: 0 150px;
  width: 1000px;
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
}

.pie-row #pie-chart-area .tooltip {
  position: relative;
  left: 307px;
  bottom: 497px;
  width: 175px;
  height: 175px;
  border: 4px solid rgb(219, 219, 219);
  border-radius: 50%;
  align-content: center;
  color: #909090;
}

.pie-row #pie-chart-area .tooltip .continent {
  margin-top: 40px;
  font-size: 1.1em;
  color: #646464;
}

.pie-row #pie-chart-area .tooltip .percentage {
  font-size: 1.1em;
  color: #646464;
}

.pie-row #pie-chart-area .tooltip div {
  margin-left: 1px;
  height: 30px;
}

.row div svg {
  margin: 0 auto;
}

.row .quote-div {
  width: 75%;
  margin: 0 auto;
  height: 500px;
  vertical-align: middle;
}

h1 {
  font-size: 50px;
  color: rgb(195, 195, 195);
}

form label {
  padding: 0 10px;
}

input[type='checkbox'] {
  height: 16px;
  width: 25px;
}

.row #chart-area .tooltip {
  position: absolute;
  top: 1800px;
  right: 2000px;
  bottom: 0px;
  width: 100px;
  height: 70px;
  border: 3px solid rgb(200, 200, 200);
  border-radius: 10px;
  align-content: center;
  background-color: white;
  color: #999999;
  font-size: 0.7em;
}

.row #chart-area .tooltip div {
  height: 16px;
}

.row #chart-area .tooltip .countryName {
  margin-top:2px;
  height: 34px;
  color: #646464;
}

.row #income-area .tooltip2 {
  position: absolute;
  top: 1800px;
  right: 2000px;
  bottom: 0px;
  width: 100px;
  height: 70px;
  border: 3px solid rgb(200, 200, 200);
  border-radius: 10px;
  align-content: center;
  background-color: white;
  color: #999999;
  font-size: 0.7em;
}

.row #income-area .tooltip2 div {
  height: 16px;
}

.row #income-area .tooltip2 .countryName2 {
  margin-top: 2px;
  height: 34px;
  color: #646464;
}

#sidebar-div {
  width: 60px;
  margin-left: 10px;
  position: relative;
  transition: 1s;
  text-align: center;
}

#sidebar {
  width: 50px;
  position: fixed;
  top:40px;
  border: 2px solid #b6b6b6;
  vertical-align: middle;
  border-radius: 10px;
  padding: 5px;
}

#sidebar a {
  margin-top: 4px;
  display:block;
  color: #858585;
  font-size: 2.3em;
  transition: 0.3s;
}

#sidebar a:hover {
  color: #0944c4;
  transform: scale(1.2);
}