.row {
  margin: 0 auto;
  height: 200vh;
  text-align: center;
  min-width: 800px;
  font-family: 'Fira Sans', sans-serif;
}

.row div {
  height: 800px;
}

.row div svg {
  margin: 0 auto;
}

.quote-div {
  width: 75%;
  margin: 0 auto;
}

h1 {
  font-size: 50px;
  color: rgb(202, 202, 202);
}

form label {
  padding: 0 10px;
}

input[type='checkbox'] {
  height: 16px;
  width: 25px;
}